sudo: false
language: go
go:
- 1.11
- 1.12
- 1.13
script:
  - make coverage
after_success:
  - bash <(curl -s https://codecov.io/bash)
env:
  global:
  - secure: Yx4Ka18FmyuZ9wuKMZaekfyyMNkvAQaK8UvzvsNzdYmx+psr3pGSK2w1tfu2OD+t8W7SHM2vlk6VXaNFOR5/kQMT5kQMh9QEQ8t9K2Sp5h6NYnQTiF8sHH58wpWgfEBTLi0itKqj4BNTgxahhLahdreEZQDHH0Mi711SU/rcZu5MqdVbjFsvNy/Qh39Z87LT8MsDcZ4LE0cvZ10DrOexCkVEwZXBS4SGqq9eGneA00zQnKECCecTKygTQfYdyCUCQhiGzvTdEXkS1NJqANDPXeRSggqRuTtOywq25k6QbUOl+AeuLWzs87ykKgm9SPtYF2yInKbj/D8E0AhawpzTZCwMHQcN4teNI2P+nm0TTnlER+X0ziplg5MMx81n06ZSh9Nq1Y/xc+2lgoTm9vzmcTry+RztuS6IQiTOZ3KEmzGcfkV6Xztb3m7vBBImU3s37moI6WUOfNfw+pTbWyrm3MBJ1mNK3yN8nc/uH3OB8e5PmssHKjprvnlxMa4KIR3uTOM9dbKSEHnkhmcJ/jrI/B5CbtbuOMc1gSqf82140MezuNYR/DVBTge4OtXDh0zCC3Pml3RlHB8CPiVkOX3Pv0heB54JcpoB/uXjtdOrJnB2j6POVkSw6M+OWNx0ZJC0uPnSev0vPko9CdLNqtk95EZAOXDo4PMURkv70zbd2xI=
  - FAUNA_DOMAIN=db.fauna.com
  - FAUNA_SCHEME=https
  - FAUNA_PORT=443
notifications:
  email: false
  slack:
    secure: HWnjZ03WETkOQj2fzzTDYhAq3FGx2WLhwakRbYbc0t/GiE2pHOXN2Sx9Cbw83Ni8Tjw34qXhxd3sI3rnSkHPJh0yCLH9w2FA1+oO5NgfnZ1uzAWYcQv3Q9iFDCRrH8jr8Uf5TLtQY+7AuTfsgtkK7VCXhn4mtRwmzZ1OLJmClIZeOQM6qN4uxeQO1M60Vcy4johYNktkac7om49aIPy29rmNe3hx8exoRBKfPpaAoxpW0Bx4eLKoV3SKXdOu5rEyr9T47N64GMWLlQ0/RR9amOVS4AdZaM9TNqCnoT5uCfhJ2KRKwrV/3D7Qv9QEG1KKgIKRbgGEoyAH00Ud2nH+bxVZNDaHfF00KMIg+lVPyGlFtAQOD9r2s/4uMAU0O7FhQFaHnz1UjQ5NVXik2DcNF7VeBhG1R7AnH2GTbHoMuvhMOSITduxaO1MWo2OmqNbnSBucsREBORiTP38u0oTC8WmOL2Dai2XVLGSbyUO3IrPVljm5Rz2YxMMq/vAWcdoc8cbXBnVE5LH+dNxaNHk8X2XvXC8jr2wJ9pQycEFTZ+QjIRIovo3L6olRSps7Y2wsM8jErPU78CmAVeZMZ3u2zpYRab/DbySiKoMJT69wBtlgm900z6USH5zhH1bUTEh3hNnjL19elrZpS+eDLk/DF9gq9QL6H2RWund2Pzedmos=
branches:
  only:
  - master
